In [1]:
import pandas as pd

In [2]:
accepted = pd.read_csv("accepted_2007_to_2018Q4.csv")

C:\Users\orteg\AppData\Local\Temp\ipykernel_51756\315921789.py:1: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  accepted = pd.read_csv("accepted_2007_to_2018Q4.csv")

In [3]:
accepted.shape

(2260701, 151)

In [4]:
accepted.columns.values

array(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'fico_range_low',
       'fico_range_high', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'last_fico_range_high', 'last_fico_range_low',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats',
       'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
       'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75',
       'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'revol_bal_joint',
       'sec_app_fico_range_low', 'sec_app_fico_range_high',
       'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths',
       'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util',
       'sec_app_open_act_il', 'sec_app_num_rev_accts',
       'sec_app_chargeoff_within_12_mths',
       'sec_app_collections_12_mths_ex_med',
       'sec_app_mths_since_last_major_derog', 'hardship_flag',
       'hardship_type', 'hardship_reason', 'hardship_status',
       'deferral_term', 'hardship_amount', 'hardship_start_date',
       'hardship_end_date', 'payment_plan_start_date', 'hardship_length',
       'hardship_dpd', 'hardship_loan_status',
       'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status',
       'settlement_date', 'settlement_amount', 'settlement_percentage',
       'settlement_term'], dtype=object)

In [5]:
rejected = pd.read_csv("rejected_2007_to_2018Q4.csv")

In [6]:
rejected.shape

(27648741, 9)

In [7]:
rejected.columns.values

array(['Amount Requested', 'Application Date', 'Loan Title', 'Risk_Score',
       'Debt-To-Income Ratio', 'Zip Code', 'State', 'Employment Length',
       'Policy Code'], dtype=object)

In [8]:
accepted['Applicant_Result'] = 1
rejected['Applicant_Result'] = 0

### Creating a dataset for zip codes only

In [9]:
accepted['zip_code'].isnull().sum()

34

In [10]:
rejected['Zip Code'].isnull().sum()

293

Since there are only a few missing values in the zip code columns, I will drop the rows. First I will concatenate the needed columns, and then I will drop the rows.

In [11]:
rejected['Zip Code'].isnull().sum()/len(rejected)

1.0597227555497012e-05

In [12]:
accepted['zip_code'].isnull().sum()/len(accepted)

1.5039582855052482e-05

In [13]:
zip_df = rejected[['Zip Code', 'Applicant_Result']].rename(columns=
                                                           {"Zip Code": "zip_code", "Applicant_Result": "applicant_result"})

In [14]:
zip_df = pd.concat([zip_df, accepted[['zip_code', 'Applicant_Result']].rename(columns={"Applicant_Result": "applicant_result"})]
                   , axis=0)

In [15]:
zip_df.head()

  zip_code  applicant_result
0    481xx                 0
1    010xx                 0
2    212xx                 0
3    017xx                 0
4    209xx                 0

In [16]:
zip_df['applicant_result'].value_counts()

0    27648741
1     2260701
Name: applicant_result, dtype: int64

In [17]:
zip_df['zip_code'].value_counts()

112xx    291010
770xx    281401
300xx    280926
331xx    264547
606xx    256209
          ...
004xx        11
869xx        10
699xx         9
579xx         3
09Oxx         1
Name: zip_code, Length: 1001, dtype: int64

In [18]:
zip_df.dropna(axis=0, inplace=True)

In [19]:
zip_df.isnull().sum()

zip_code            0
applicant_result    0
dtype: int64

In [20]:
zip_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29909115 entries, 0 to 2260698
Data columns (total 2 columns):
 #   Column            Dtype
---  ------            -----
 0   zip_code          object
 1   applicant_result  int64
dtypes: int64(1), object(1)
memory usage: 684.6+ MB

In [21]:
zip_df.reset_index(drop=True, inplace=True)

### Selecting the Columns Related to the Project Proposal from the Accepted Dataset

In [23]:
accepted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Columns: 152 entries, id to Applicant_Result
dtypes: float64(113), int64(1), object(38)
memory usage: 2.6+ GB

In [24]:
null_values = accepted.isnull().sum().sort_values(ascending = False)

In [25]:
#for row, index in enumerate(null_values.index):
 #   print(f"{null_values[row]} missing values for {index}")

2260701 missing values for member_id
2252050 missing values for orig_projected_additional_accrued_interest
2249784 missing values for hardship_start_date
2249784 missing values for deferral_term
2249784 missing values for hardship_type
2249784 missing values for hardship_reason
2249784 missing values for hardship_last_payment_amount
2249784 missing values for hardship_payoff_balance_amount
2249784 missing values for hardship_loan_status
2249784 missing values for hardship_dpd
2249784 missing values for hardship_length
2249784 missing values for payment_plan_start_date
2249784 missing values for hardship_end_date
2249784 missing values for hardship_status
2249784 missing values for hardship_amount
2226455 missing values for settlement_term
2226455 missing values for settlement_percentage
2226455 missing values for debt_settlement_flag_date
2226455 missing values for settlement_status
2226455 missing values for settlement_date
2226455 missing values for settlement_amount
2224759 missing values for sec_app_mths_since_last_major_derog
2154517 missing values for sec_app_revol_util
2152681 missing values for revol_bal_joint
2152680 missing values for sec_app_inq_last_6mths
2152680 missing values for sec_app_fico_range_low
2152680 missing values for sec_app_fico_range_high
2152680 missing values for sec_app_earliest_cr_line
2152680 missing values for sec_app_num_rev_accts
2152680 missing values for sec_app_mort_acc
2152680 missing values for sec_app_open_act_il
2152680 missing values for sec_app_chargeoff_within_12_mths
2152680 missing values for sec_app_collections_12_mths_ex_med
2152680 missing values for sec_app_open_acc
2144971 missing values for verification_status_joint
2139995 missing values for dti_joint
2139991 missing values for annual_inc_joint
2134634 missing values for desc
1901545 missing values for mths_since_last_record
1741000 missing values for mths_since_recent_bc_dlq
1679926 missing values for mths_since_last_major_derog
1520342 missing values for mths_since_recent_revol_delinq
1345343 missing values for next_pymnt_d
1158535 missing values for mths_since_last_delinq
1068883 missing values for il_util
909957 missing values for mths_since_rcnt_il
866381 missing values for all_util
866163 missing values for inq_last_12m
866163 missing values for open_acc_6m
866163 missing values for total_cu_tl
866162 missing values for inq_fi
866162 missing values for open_rv_24m
866162 missing values for max_bal_bc
866162 missing values for total_bal_il
866162 missing values for open_il_24m
866162 missing values for open_il_12m
866162 missing values for open_act_il
866162 missing values for open_rv_12m
295468 missing values for mths_since_recent_inq
167002 missing values for emp_title
153690 missing values for num_tl_120dpd_2m
146940 missing values for emp_length
139104 missing values for mo_sin_old_il_acct
76104 missing values for bc_util
75412 missing values for percent_bc_gt_75
74968 missing values for bc_open_to_buy
73445 missing values for mths_since_recent_bc
70464 missing values for pct_tl_nvr_dlq
70379 missing values for avg_cur_bal
70310 missing values for mo_sin_rcnt_rev_tl_op
70310 missing values for mo_sin_old_rev_tl_op
70310 missing values for num_rev_accts
70309 missing values for tot_hi_cred_lim
70309 missing values for tot_coll_amt
70309 missing values for num_tl_30dpd
70309 missing values for num_op_rev_tl
70309 missing values for num_il_tl
70309 missing values for num_bc_tl
70309 missing values for num_actv_rev_tl
70309 missing values for num_actv_bc_tl
70309 missing values for num_accts_ever_120_pd
70309 missing values for num_tl_90g_dpd_24m
70309 missing values for num_tl_op_past_12m
70309 missing values for mo_sin_rcnt_tl
70309 missing values for total_il_high_credit_limit
70309 missing values for tot_cur_bal
70309 missing values for total_rev_hi_lim
70309 missing values for num_rev_tl_bal_gt_0
58623 missing values for num_sats
58623 missing values for num_bc_sats
50063 missing values for mort_acc
50063 missing values for total_bal_ex_mort
50063 missing values for acc_open_past_24mths
50063 missing values for total_bc_limit
23358 missing values for title
2460 missing values for last_pymnt_d
1835 missing values for revol_util
1744 missing values for dti
1398 missing values for pub_rec_bankruptcies
178 missing values for chargeoff_within_12_mths
178 missing values for collections_12_mths_ex_med
138 missing values for tax_liens
105 missing values for last_credit_pull_d
63 missing values for inq_last_6mths
62 missing values for total_acc
62 missing values for delinq_2yrs
62 missing values for acc_now_delinq
62 missing values for delinq_amnt
62 missing values for earliest_cr_line
62 missing values for pub_rec
62 missing values for open_acc
37 missing values for annual_inc
34 missing values for zip_code
33 missing values for issue_d
33 missing values for verification_status
33 missing values for home_ownership
33 missing values for total_pymnt
33 missing values for last_fico_range_low
33 missing values for sub_grade
33 missing values for grade
33 missing values for pymnt_plan
33 missing values for installment
33 missing values for int_rate
33 missing values for disbursement_method
33 missing values for debt_settlement_flag
33 missing values for term
33 missing values for funded_amnt_inv
33 missing values for funded_amnt
33 missing values for loan_amnt
33 missing values for loan_status
33 missing values for application_type
33 missing values for url
33 missing values for total_rec_int
33 missing values for initial_list_status
33 missing values for policy_code
33 missing values for last_pymnt_amnt
33 missing values for collection_recovery_fee
33 missing values for recoveries
33 missing values for total_pymnt_inv
33 missing values for total_rec_late_fee
33 missing values for revol_bal
33 missing values for purpose
33 missing values for fico_range_high
33 missing values for fico_range_low
33 missing values for out_prncp
33 missing values for addr_state
33 missing values for last_fico_range_high
33 missing values for out_prncp_inv
33 missing values for hardship_flag
33 missing values for total_rec_prncp
0 missing values for id
0 missing values for Applicant_Result

In [26]:
col_to_be_dropped = []
for column in accepted.columns:
    if (accepted[column].isnull().sum()/len(accepted)) > 0.3:
        col_to_be_dropped.append(column)

In [27]:
trimmed_accepted = accepted.drop(col_to_be_dropped, axis = 1)

In [28]:
trimmed_accepted.shape

(2260701, 94)

In [29]:
null_values = trimmed_accepted.isnull().sum().sort_values(ascending = False)

In [30]:
#for row, index in enumerate(null_values.index):
 #   print(f"{null_values[row]} missing values for {index}")

295468 missing values for mths_since_recent_inq
167002 missing values for emp_title
153690 missing values for num_tl_120dpd_2m
146940 missing values for emp_length
139104 missing values for mo_sin_old_il_acct
76104 missing values for bc_util
75412 missing values for percent_bc_gt_75
74968 missing values for bc_open_to_buy
73445 missing values for mths_since_recent_bc
70464 missing values for pct_tl_nvr_dlq
70379 missing values for avg_cur_bal
70310 missing values for num_rev_accts
70310 missing values for mo_sin_old_rev_tl_op
70310 missing values for mo_sin_rcnt_rev_tl_op
70309 missing values for tot_coll_amt
70309 missing values for num_actv_rev_tl
70309 missing values for num_actv_bc_tl
70309 missing values for num_il_tl
70309 missing values for total_rev_hi_lim
70309 missing values for num_accts_ever_120_pd
70309 missing values for total_il_high_credit_limit
70309 missing values for num_op_rev_tl
70309 missing values for mo_sin_rcnt_tl
70309 missing values for num_rev_tl_bal_gt_0
70309 missing values for tot_cur_bal
70309 missing values for tot_hi_cred_lim
70309 missing values for num_tl_30dpd
70309 missing values for num_tl_90g_dpd_24m
70309 missing values for num_tl_op_past_12m
70309 missing values for num_bc_tl
58623 missing values for num_bc_sats
58623 missing values for num_sats
50063 missing values for mort_acc
50063 missing values for acc_open_past_24mths
50063 missing values for total_bc_limit
50063 missing values for total_bal_ex_mort
23358 missing values for title
2460 missing values for last_pymnt_d
1835 missing values for revol_util
1744 missing values for dti
1398 missing values for pub_rec_bankruptcies
178 missing values for chargeoff_within_12_mths
178 missing values for collections_12_mths_ex_med
138 missing values for tax_liens
105 missing values for last_credit_pull_d
63 missing values for inq_last_6mths
62 missing values for acc_now_delinq
62 missing values for open_acc
62 missing values for delinq_amnt
62 missing values for total_acc
62 missing values for pub_rec
62 missing values for earliest_cr_line
62 missing values for delinq_2yrs
37 missing values for annual_inc
34 missing values for zip_code
33 missing values for hardship_flag
33 missing values for last_fico_range_low
33 missing values for last_fico_range_high
33 missing values for application_type
33 missing values for home_ownership
33 missing values for purpose
33 missing values for url
33 missing values for pymnt_plan
33 missing values for loan_status
33 missing values for issue_d
33 missing values for verification_status
33 missing values for sub_grade
33 missing values for policy_code
33 missing values for grade
33 missing values for installment
33 missing values for int_rate
33 missing values for term
33 missing values for funded_amnt_inv
33 missing values for funded_amnt
33 missing values for addr_state
33 missing values for fico_range_low
33 missing values for fico_range_high
33 missing values for revol_bal
33 missing values for initial_list_status
33 missing values for out_prncp
33 missing values for out_prncp_inv
33 missing values for total_pymnt
33 missing values for total_pymnt_inv
33 missing values for total_rec_prncp
33 missing values for total_rec_int
33 missing values for total_rec_late_fee
33 missing values for recoveries
33 missing values for collection_recovery_fee
33 missing values for last_pymnt_amnt
33 missing values for debt_settlement_flag
33 missing values for loan_amnt
33 missing values for disbursement_method
0 missing values for id
0 missing values for Applicant_Result

Now all columns that we want to use will be selected from the trimmed dataset

In [31]:
columns_needed = ['loan_amnt', 'title', 'last_fico_range_low', 'last_fico_range_high',
                 'dti', 'zip_code', 'addr_state', 'emp_length', 'emp_title', 
                 'funded_amnt', 'hardship_flag', 'home_ownership', 'loan_status', 
                 'application_type', 'issue_d', 'policy_code', 'Applicant_Result']

In [32]:
accepted_project = trimmed_accepted[columns_needed]

In [33]:
accepted_project.head()

,loan_amnt,title,last_fico_range_low,last_fico_range_high,dti,zip_code,addr_state,emp_length,emp_title,funded_amnt,hardship_flag,home_ownership,loan_status,application_type,issue_d,policy_code,Applicant_Result
0,3600.0,Debt consolidation,560.0,564.0,5.91,190xx,PA,10+ years,leadman,3600.0,N,MORTGAGE,Fully Paid,Individual,Dec-2015,1.0,1
1,24700.0,Business,695.0,699.0,16.06,577xx,SD,10+ years,Engineer,24700.0,N,MORTGAGE,Fully Paid,Individual,Dec-2015,1.0,1
2,20000.0,NaN,700.0,704.0,10.78,605xx,IL,10+ years,truck driver,20000.0,N,MORTGAGE,Fully Paid,Joint App,Dec-2015,1.0,1
3,35000.0,Debt consolidation,675.0,679.0,17.06,076xx,NJ,10+ years,Information Systems Officer,35000.0,N,MORTGAGE,Current,Individual,Dec-2015,1.0,1
4,10400.0,Major purchase,700.0,704.0,25.37,174xx,PA,3 years,Contract Specialist,10400.0,N,MORTGAGE,Fully Paid,Individual,Dec-2015,1.0,1

Below, I am checking the each data type. If there is a column that does not have an appropriate data type, it will be changed after the NA values are dealt with.

In [34]:
accepted_project.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Data columns (total 17 columns):
 #   Column                Dtype
---  ------                -----
 0   loan_amnt             float64
 1   title                 object
 2   last_fico_range_low   float64
 3   last_fico_range_high  float64
 4   dti                   float64
 5   zip_code              object
 6   addr_state            object
 7   emp_length            object
 8   emp_title             object
 9   funded_amnt           float64
 10  hardship_flag         object
 11  home_ownership        object
 12  loan_status           object
 13  application_type      object
 14  issue_d               object
 15  policy_code           float64
 16  Applicant_Result      int64
dtypes: float64(6), int64(1), object(10)
memory usage: 293.2+ MB

In [35]:
accepted_project['home_ownership'].value_counts()

MORTGAGE    1111450
RENT         894929
OWN          253057
ANY             996
OTHER           182
NONE             54
Name: home_ownership, dtype: int64

In [36]:
accepted_project['loan_status'].value_counts()

Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: loan_status, dtype: int64

In [37]:
accepted_project['application_type'].value_counts()

Individual    2139958
Joint App      120710
Name: application_type, dtype: int64

In [38]:
accepted_project.isnull().sum().sort_values(ascending = False)

emp_title               167002
emp_length              146940
title                    23358
dti                       1744
zip_code                    34
home_ownership              33
policy_code                 33
issue_d                     33
application_type            33
loan_status                 33
loan_amnt                   33
hardship_flag               33
funded_amnt                 33
addr_state                  33
last_fico_range_high        33
last_fico_range_low         33
Applicant_Result             0
dtype: int64

accepted_project_cut = accepted_project.dropna(axis=0)

len(accepted_project_cut)/len(accepted_project) = 0.9168417229876927

I think that having over 90% is acceptable.

In [39]:
accepted_project.dropna(axis=0, inplace=True)

C:\Users\orteg\AppData\Local\Temp\ipykernel_51756\1057871221.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accepted_project.dropna(axis=0, inplace=True)

In [40]:
accepted_project['last_fico_range_low'] = accepted_project['last_fico_range_low'].astype('int64')
accepted_project['last_fico_range_high'] = accepted_project['last_fico_range_high'].astype('int64')
accepted_project['policy_code'] = accepted_project['policy_code'].astype('int64')

C:\Users\orteg\AppData\Local\Temp\ipykernel_51756\239753879.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accepted_project['last_fico_range_low'] = accepted_project['last_fico_range_low'].astype('int64')
C:\Users\orteg\AppData\Local\Temp\ipykernel_51756\239753879.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accepted_project['last_fico_range_high'] = accepted_project['last_fico_range_high'].astype('int64')
C:\Users\orteg\AppData\Local\Temp\ipykernel_51756\239753879.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accepted_project['policy_code'] = accepted_project['policy_code'].astype('int64')

In [41]:
accepted_project.reset_index(drop=True, inplace=True)

In [42]:
accepted_project.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2072705 entries, 0 to 2072704
Data columns (total 17 columns):
 #   Column                Dtype
---  ------                -----
 0   loan_amnt             float64
 1   title                 object
 2   last_fico_range_low   int64
 3   last_fico_range_high  int64
 4   dti                   float64
 5   zip_code              object
 6   addr_state            object
 7   emp_length            object
 8   emp_title             object
 9   funded_amnt           float64
 10  hardship_flag         object
 11  home_ownership        object
 12  loan_status           object
 13  application_type      object
 14  issue_d               object
 15  policy_code           int64
 16  Applicant_Result      int64
dtypes: float64(3), int64(4), object(10)
memory usage: 268.8+ MB

In [43]:
#accepted_project.to_csv("accepted_only_data.csv")

### Process the Rejected Dataset and Combine Accepted into Equally Split Dataset

In [44]:
rejected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27648741 entries, 0 to 27648740
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   Amount Requested      float64
 1   Application Date      object
 2   Loan Title            object
 3   Risk_Score            float64
 4   Debt-To-Income Ratio  object
 5   Zip Code              object
 6   State                 object
 7   Employment Length     object
 8   Policy Code           float64
 9   Applicant_Result      int64
dtypes: float64(3), int64(1), object(6)
memory usage: 2.1+ GB

In [45]:
rejected.isnull().sum()

Amount Requested               0
Application Date               0
Loan Title                  1303
Risk_Score              18497630
Debt-To-Income Ratio           0
Zip Code                     293
State                         22
Employment Length         951355
Policy Code                  918
Applicant_Result               0
dtype: int64

Risk Score has too many missing values and will be excluded from the dataset.

In [46]:
trimmed_rejected = rejected.drop(['Risk_Score'], axis=1)

In [47]:
trimmed_rejected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27648741 entries, 0 to 27648740
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   Amount Requested      float64
 1   Application Date      object
 2   Loan Title            object
 3   Debt-To-Income Ratio  object
 4   Zip Code              object
 5   State                 object
 6   Employment Length     object
 7   Policy Code           float64
 8   Applicant_Result      int64
dtypes: float64(2), int64(1), object(6)
memory usage: 1.9+ GB

In [48]:
trimmed_rejected['Employment Length'].isnull().sum()/len(trimmed_rejected)

0.03440861918450464

In a similar case to the accepted dataset, the missing data does not make up a large percentage of the data. I will drop the missing rows instead of imputing.

In [49]:
trimmed_rejected.dropna(axis=0, inplace=True)

In [50]:
trimmed_rejected.reset_index(drop=True, inplace=True)

In [51]:
trimmed_rejected['Policy Code'] = trimmed_rejected['Policy Code'].astype('int64')

In [52]:
trimmed_rejected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26694971 entries, 0 to 26694970
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   Amount Requested      float64
 1   Application Date      object
 2   Loan Title            object
 3   Debt-To-Income Ratio  object
 4   Zip Code              object
 5   State                 object
 6   Employment Length     object
 7   Policy Code           int64
 8   Applicant_Result      int64
dtypes: float64(1), int64(2), object(6)
memory usage: 1.8+ GB

In [53]:
trimmed_rejected['Debt-To-Income Ratio'] = trimmed_rejected['Debt-To-Income Ratio'].str.replace('%', '', regex=True)

In [54]:
trimmed_rejected['Debt-To-Income Ratio'] = trimmed_rejected['Debt-To-Income Ratio'].astype('float64')

#### Checking the Data for Both Accepted and Rejected

In [55]:
#for column in trimmed_rejected.columns:
 #   print(trimmed_rejected[column].value_counts())

10000.00     3807937
5000.00      2943174
20000.00     1957945
1000.00      1739882
15000.00     1720088
              ...
231000.00          1
102325.00          1
11742.49           1
62600.00           1
64075.00           1
Name: Amount Requested, Length: 3637, dtype: int64
2018-12-04    40375
2018-05-14    39545
2018-09-12    39502
2018-12-05    38671
2018-05-15    38366
              ...
2007-08-19        2
2007-06-16        2
2007-07-28        2
2007-05-26        2
2007-06-07        1
Name: Application Date, Length: 4238, dtype: int64
Debt consolidation              6238316
debt_consolidation              5730413
Other                           2554408
Credit card refinancing         2236885
other                           1922835
                                 ...
BORROWER LOOKING FOR HELP.            1
Need loan to expand business          1
Visa Credit Card Refinance            1
Getting ahead at 21!                  1
Business Advertising Loan             1
Name: Loan Title, Length: 70129, dtype: int64
 100.00      1331536
-1.00        1163648
 0.00         986339
 9999.00       75821
 1.20          31316
              ...
 867.05            1
 2221.81           1
 870.62            1
 13753.82          1
 21215.75          1
Name: Debt-To-Income Ratio, Length: 125367, dtype: int64
112xx    260560
770xx    257061
300xx    253830
331xx    239779
606xx    228239
          ...
869xx        10
419xx        10
699xx         8
579xx         3
09Oxx         1
Name: Zip Code, Length: 1001, dtype: int64
CA    3140714
TX    2419757
FL    2085259
NY    1932017
GA    1047469
PA    1009405
OH     973144
IL     970291
NC     830272
NJ     828129
MI     724855
VA     715726
MD     578250
AZ     566816
TN     553277
MA     530388
IN     498652
WA     479672
MO     476837
AL     471026
CO     456374
SC     448731
LA     405858
WI     349057
MN     348952
KY     334529
CT     329309
NV     320914
OK     293630
AR     278452
OR     271928
MS     264934
KS     222514
UT     174548
NM     158418
HI     151256
NH     113582
NE     109250
RI     108341
WV     101771
DE      90678
ID      76867
ME      74909
MT      68722
AK      58484
SD      55106
DC      51314
VT      49643
WY      48090
ND      46403
IA        451
Name: State, dtype: int64
< 1 year     22992671
5 years       2279420
10+ years      416035
1 year         267786
2 years        199135
3 years        177280
4 years        121573
6 years         71583
8 years         65940
7 years         55627
9 years         47921
Name: Employment Length, dtype: int64
0    26613032
2       81939
Name: Policy Code, dtype: int64
0    26694971
Name: Applicant_Result, dtype: int64

In [56]:
#for column in accepted_project.columns:
 #   print(accepted_project[column].value_counts())

10000.0    168425
20000.0    121221
15000.0    113487
12000.0    113282
35000.0     81851
            ...
725.0           1
950.0           1
750.0           1
925.0           1
550.0           1
Name: loan_amnt, Length: 1571, dtype: int64
Debt consolidation           1071649
Credit card refinancing       434772
Home improvement              125079
Other                         116275
Major purchase                 41571
                              ...
Paying it Forward~                 1
final credit card pay off          1
Short-term investment              1
Old home loan                      1
Credit Card Financing              1
Name: title, Length: 59289, dtype: int64
690    76757
695    76051
700    75458
705    75449
710    72740
       ...
825     5029
830     3078
835     1494
840      732
845      326
Name: last_fico_range_low, Length: 71, dtype: int64
694    76757
699    76051
704    75458
709    75449
714    72740
       ...
834     3078
839     1494
844      732
850      326
0        221
Name: last_fico_range_high, Length: 72, dtype: int64
19.20    1469
14.40    1463
18.00    1458
16.80    1443
15.60    1384
         ...
82.23       1
80.88       1
71.36       1
73.06       1
81.15       1
Name: dti, Length: 9335, dtype: int64
750xx    22511
945xx    22103
112xx    22050
606xx    19701
300xx    19049
         ...
892xx        1
269xx        1
399xx        1
521xx        1
896xx        1
Name: zip_code, Length: 954, dtype: int64
CA    289977
TX    173310
NY    170783
FL    145170
IL     84315
NJ     77099
PA     70790
OH     68429
GA     67870
VA     58679
NC     56780
MI     52328
MD     50100
MA     48505
AZ     48455
CO     44834
WA     43308
MN     37100
IN     34383
CT     33212
MO     32948
TN     32207
NV     29032
WI     27472
SC     24978
AL     24606
OR     24156
LA     23702
KY     19805
OK     18919
KS     17617
AR     15194
UT     13981
MS     11325
NM     10707
NH     10348
HI      9960
RI      9289
WV      7457
NE      7242
DE      5838
MT      5731
DC      5082
AK      4890
VT      4535
ME      4448
WY      4437
SD      4224
ID      3772
ND      3362
IA        14
Name: addr_state, dtype: int64
10+ years    736219
2 years      201225
3 years      178287
< 1 year     177140
1 year       145770
5 years      137541
4 years      134795
6 years      101287
7 years       91516
8 years       90583
9 years       78342
Name: emp_length, dtype: int64
Teacher                          38471
Manager                          33990
Owner                            21524
Registered Nurse                 15666
RN                               14619
                                 ...
setup/server                         1
Director of Adult Servicesq          1
Specialist Expeditor                 1
Hospitality Territory Manager        1
Current Operations Officer           1
Name: emp_title, Length: 509336, dtype: int64
10000.0    168341
20000.0    121037
15000.0    113374
12000.0    113195
35000.0     81726
            ...
725.0           1
950.0           1
750.0           1
925.0           1
550.0           1
Name: funded_amnt, Length: 1571, dtype: int64
N    2071936
Y        769
Name: hardship_flag, dtype: int64
MORTGAGE    1026198
RENT         828421
OWN          217129
ANY             738
OTHER           174
NONE             45
Name: home_ownership, dtype: int64
Fully Paid                                             1002533
Current                                                 794938
Charged Off                                             241959
Late (31-120 days)                                       19198
In Grace Period                                           7662
Late (16-30 days)                                         3794
Does not meet the credit policy. Status:Fully Paid        1877
Does not meet the credit policy. Status:Charged Off        710
Default                                                     34
Name: loan_status, dtype: int64
Individual    1971341
Joint App      101364
Name: application_type, dtype: int64
Mar-2016    53588
Oct-2015    45683
Jul-2015    43474
May-2018    42539
Dec-2015    41395
            ...
Aug-2007       65
Sep-2008       54
Jul-2007       53
Sep-2007       49
Jun-2007       19
Name: issue_d, Length: 139, dtype: int64
1    2072705
Name: policy_code, dtype: int64
1    2072705
Name: Applicant_Result, dtype: int64

In [57]:
matching_columns_accepted = ['loan_amnt', 'title', 'dti', 'zip_code', 'addr_state', 'emp_length', 'policy_code', 
                             'Applicant_Result']

In [58]:
matching_columns_rejected = ['Amount Requested', 'Loan Title', 'Debt-To-Income Ratio', 'Zip Code', 'State', 'Employment Length', 
                             'Policy Code', 'Applicant_Result']

In [59]:
rand_accepted = accepted_project[matching_columns_accepted].sample(n = 100000, random_state = 42, replace = False)

In [60]:
rand_accepted.rename(columns={"Applicant_Result": "applicant_result", "loan_amnt": "amount_requested", "dti": "debt_to_income_ratio", 
                             "addr_state": "state", "title": "reason_for_loan"}, inplace=True)

In [61]:
rand_rejected = trimmed_rejected[matching_columns_rejected].sample(n = 100000, random_state = 42, replace = False)

In [62]:
rand_rejected.rename(columns={"Applicant_Result": "applicant_result", "Amount Requested": "amount_requested", 
                              "Loan Title": "reason_for_loan", "Zip Code": "zip_code", "Debt-To-Income Ratio": "debt_to_income_ratio", 
                             "State": "state", "Policy Code": "policy_code", "Employment Length": "emp_length"}, inplace=True)

In [63]:
learning_data = pd.concat([rand_accepted, rand_rejected], axis=0, ignore_index=True)

In [64]:
learning_data.head()

,amount_requested,reason_for_loan,debt_to_income_ratio,zip_code,state,emp_length,policy_code,applicant_result
0,9600.0,Credit card refinancing,24.45,816xx,CO,4 years,1,1
1,6000.0,Home improvement,14.34,210xx,MD,10+ years,1,1
2,10000.0,Debt consolidation,25.35,890xx,NV,7 years,1,1
3,25000.0,Debt consolidation,7.17,640xx,MO,5 years,1,1
4,2000.0,Other,9.30,923xx,CA,4 years,1,1

In [65]:
learning_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   amount_requested      200000 non-null  float64
 1   reason_for_loan       200000 non-null  object
 2   debt_to_income_ratio  200000 non-null  float64
 3   zip_code              200000 non-null  object
 4   state                 200000 non-null  object
 5   emp_length            200000 non-null  object
 6   policy_code           200000 non-null  int64
 7   applicant_result      200000 non-null  int64
dtypes: float64(2), int64(2), object(4)
memory usage: 12.2+ MB

In [66]:
learning_data['policy_code'].value_counts()

1    100000
0     99682
2       318
Name: policy_code, dtype: int64

Because there is such a high count of 1 values from the accepted dataset, I will assume that 0 is 1 and 2 is 2 in the rejected dataset.

In [67]:
learning_data['policy_code'] = learning_data['policy_code'].replace(to_replace=0,value=1)

In [68]:
learning_data['policy_code'].value_counts()

1    199682
2       318
Name: policy_code, dtype: int64

In [69]:
zip_df.to_csv("zip_only_data.csv")

In [70]:
learning_data.to_csv("model_only_data.csv")

In [71]:
accepted_project.to_csv("accepted_only_data.csv")