In [1]:
import pandas as pd

In [2]:
df_one = pd.read_csv("accepted_2007_to_2018Q4.csv")

C:\Users\orteg\AppData\Local\Temp\ipykernel_37076\849300346.py:1: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  df_one = pd.read_csv("accepted_2007_to_2018Q4.csv")

In [3]:
df_one.shape

(2260701, 151)

In [4]:
df_two = pd.read_csv("rejected_2007_to_2018Q4.csv")

In [5]:
df_two.shape

(27648741, 9)

In [16]:
sample_two = df_two.sample(n = 100000, random_state = 42, replace = False)

In [11]:
sample_two.shape

(100000, 9)

In [17]:
sample_one = df_one.sample(n = 100000, random_state = 42, replace = False)

In [13]:
sample_one.shape

(100000, 151)

In [18]:
sample_one.reset_index(drop = True, inplace = True)
sample_two.reset_index(drop = True, inplace = True)

In [19]:
sample_one.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,39651438,NaN,32000.0,32000.0,32000.0,60 months,10.49,687.65,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,16411620,NaN,9600.0,9600.0,9600.0,36 months,12.99,323.42,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,45122316,NaN,4000.0,4000.0,4000.0,36 months,6.68,122.93,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,125356772,NaN,6025.0,6025.0,6025.0,36 months,10.91,197.00,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,128490686,NaN,25000.0,25000.0,25000.0,60 months,26.30,752.96,E,E5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
sample_two.to_csv("rejected_customers.csv")

In [27]:
sample_one.isnull().sum().sort_values(ascending = False)

member_id                                     100000
orig_projected_additional_accrued_interest     99617
hardship_end_date                              99510
hardship_start_date                            99510
hardship_type                                  99510
                                               ...
open_acc                                           4
inq_last_6mths                                     4
fico_range_high                                    4
fico_range_low                                     4
id                                                 0
Length: 151, dtype: int64

In [26]:
sample_one.isnull().sum().sort_values(ascending = False).values

array([100000,  99617,  99510,  99510,  99510,  99510,  99510,  99510,
        99510,  99510,  99510,  99510,  99510,  99510,  99510,  98415,
        98415,  98415,  98415,  98415,  98415,  98389,  95256,  95192,
        95192,  95192,  95192,  95192,  95192,  95192,  95192,  95192,
        95192,  95192,  94856,  94618,  94618,  94480,  84000,  76894,
        74170,  67100,  59498,  51166,  47256,  40271,  38357,  38354,
        38354,  38354,  38354,  38354,  38354,  38354,  38354,  38354,
        38354,  38354,  12991,   7399,   6729,   6458,   5992,   3283,
         3259,   3237,   3170,   2990,   2986,   2985,   2985,   2985,
         2985,   2985,   2985,   2985,   2985,   2985,   2985,   2985,
         2985,   2985,   2985,   2985,   2985,   2985,   2985,   2985,
         2480,   2480,   2122,   2122,   2122,   2122,    992,    107,
           84,     66,     52,      7,      6,      6,      5,      4,
            4,      4,      4,      4,      4,      4,      4,      4,
            4,      4,      4,      4,      4,      4,      4,      4,
            4,      4,      4,      4,      4,      4,      4,      4,
            4,      4,      4,      4,      4,      4,      4,      4,
            4,      4,      4,      4,      4,      4,      4,      4,
            4,      4,      4,      4,      4,      4,      0],
      dtype=int64)

In [29]:
for column in sample_one.columns:
    if (sample_one[column].isnull().sum()/len(sample_one)) > 0.3:
        sample_one = sample_one.drop([column], axis = 1)

In [30]:
sample_one.shape

(100000, 93)

In [31]:
sample_one.isnull().sum().sort_values(ascending = False).values

array([12991,  7399,  6729,  6458,  5992,  3283,  3259,  3237,  3170,
        2990,  2986,  2985,  2985,  2985,  2985,  2985,  2985,  2985,
        2985,  2985,  2985,  2985,  2985,  2985,  2985,  2985,  2985,
        2985,  2985,  2985,  2480,  2480,  2122,  2122,  2122,  2122,
         992,   107,    84,    66,    52,     7,     6,     6,     5,
           4,     4,     4,     4,     4,     4,     4,     4,     4,
           4,     4,     4,     4,     4,     4,     4,     4,     4,
           4,     4,     4,     4,     4,     4,     4,     4,     4,
           4,     4,     4,     4,     4,     4,     4,     4,     4,
           4,     4,     4,     4,     4,     4,     4,     4,     4,
           4,     4,     0], dtype=int64)

In [32]:
sample_one.to_csv("accepted_customers.csv")

In [33]:
samp_split_one = sample_one.iloc[:,:31]

In [35]:
samp_split_two = sample_one.iloc[:,31:62]

In [36]:
samp_split_three = sample_one.iloc[:,62:]

In [37]:
samp_split_one.to_csv("accepted_customers_one.csv")
samp_split_two.to_csv("accepted_customers_two.csv")
samp_split_three.to_csv("accepted_customers_three.csv")

In [38]:
samp_split_one_one = samp_split_one.iloc[:,:16]
samp_split_one_two = samp_split_one.iloc[:,16:]

In [39]:
samp_split_one_one.to_csv("accepted_customers_one_one.csv")
samp_split_one_two.to_csv("accepted_customers_one_two.csv")